body {
    background-image: url("../resources/airthmetic_bckgrnd.jpg");
}
*,input,button{
    padding: 0 0 10 0;
}

.heading {
    text-align: center;
    font-family: cursive;
    text-decoration: dashed;
    text-decoration-line: underline;
    color:  #d235d5;;
}

.center_pos {
    text-align: center;
    margin: auto;
}