<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.js"></script>
        <script src="js/main.js"></script>
        <title>Airthmetic Game</title>
    </head>
    <body ng-app="airthmetic" ng-controller="airthmeticController">
        
        <div class="page-header heading">
          <h1>Airthmetic Game</h1>
        </div>
        
        <div class="container">
                <div class="blank_space"></div>
                <input type="text" class="form-control" id="op1" ng-model="op1" placeholder="Enter Operand1">
                <div class="blank_space"></div>
                <input type="text" class="form-control" id="op2" ng-model="op2" placeholder="Enter Operand2">
                <div class="blank_space"></div>
                <select name="operations" id="operations" ng-model="operations" class="form-control" required="required">
                    <option value="Add">+</option>
                    <option value="Subtract">-</option>
                    <option value="Multiply">*</option>
                    <option value="Divide">/</option>
                </select>
                <div class="blank_space"></div>
                <input type="text" class="form-control" id="result" ng-model="result" placeholder="Your Answer Please!!!">
                <div class="blank_space text-center"></div>
                <div class="center_pos">
                    <button type="button" class="btn btn-success center_pos" ng-click="clickSubmit()">Submit</button>
                    <button type="button" class="btn btn-danger center_pos" ng-click="clickReset()">Reset</button>
                </div>
        </div>
        
        <img src="" id="resultImg" class="img-responsive center_pos" alt="">
        
    </body>
</html>